header { padding: 5px;
  padding-bottom: 40px;
    text-align: center;
    background: orangered;
    color: white;
    font-size: 30px;
    margin-top: -38px;
       }

       div.scrollmenu {
        background-color: rgb(255, 106, 0);
        
        margin-top: -30px;
        margin-bottom: 15px;
        
        
      }
        div.scrollmenu a {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 14px;
        text-decoration: none;
        
         }
        div.scrollmenu a:hover {
        background-color: #777;
          }
            
        
       .column2 {
        float: left;
        width: 20%;
        height: 250px;
        background-color: #FAC898;
       height: 620px;
       
        
        width: 100%;
        
      }
              .row:after {
        content: "";
        width: 80%;
        margin: 1em;
        }
        input[type=text] {
          width: 100%;
        }
        input[type=text] {
          width: 100%;
        } 
        input[type=email] {
          width: 100%;
        }
        select {
          width: 100%;
      }
       

        input[type=submit] {
            background-color: orangered;
            color: white;}
            textarea {
                width: 100%;
                height: 150px;
                padding: 12px 20px;
                box-sizing: border-box;
                border: 2px solid #ccc;
                border-radius: 4px;
                background-color: #f8f8f8;
                font-size: 16px;
                resize: none;
              }




        h3
       {color: orangered;
        font-weight: bold;}

        
        

        .footer{
          position: fixed;
          left: 0;
          bottom: 0;
          width: 100%;
          background-color: orangered;
          color: black;
          font-weight: bold;
          text-align: center;
       }

       
      /* horizontal menu styles */
.menu { 
  display: flex; 
  flex-direction: row; 
  list-style: none; 
  margin: 0; 
  padding: 0; 
  background-color: rgb(255, 106, 0);
  color: white;
        
} 

.menu-item { 
  flex: 1;
  text-align: center;
  color: white;
} 

/* vertical menu styles */
@media (max-width: 600px) { 
  .menu { 
     flex-direction: column; 
  } 
  .menu-item { 
     flex: none; 
     width: 100%; 
     margin-top: 8px;
     margin-bottom: 10px;
  }

  .column2
  {
    margin-top: -20px;
    padding-left: 10px;
  
}

iframe{ justify-content: center; width: auto;  }
}
      
     