header { padding: 5px;
  padding-bottom: 40px;
    text-align: center;
    background: orangered;
    color: white;
    font-size: 30px;
    margin-top: -38px;
       }

       div.scrollmenu {
        background-color: rgb(255, 106, 0);
        
        margin-top: -30px;
        margin-bottom: 15px;
        
        
      }
        div.scrollmenu a {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 14px;
        text-decoration: none;
        
         }
        div.scrollmenu a:hover {
        background-color: #777;
          }
        
      
              h5
        {
          font-weight: bold;}
       h2
       {color: orangered;
        font-weight: bold;}
        h4
    
        {color: orangered;
         font-weight: bold;}
          .column2
           {
            float: left;
            width: 20%;
            background-color: #FAC898;
            height: 950px;
            
            margin: 0 auto;
            
            
            width: 95%;
            
            
          }
          .column3 {
            content: "";
            width: 80%;
            
            width: 90%}
           
           
            .footer{
              position: fixed;
              left: 0;
              bottom: 0;
              width: 100%;
              background-color: orangered;
              color: black;
              font-weight: bold;
              text-align: center;
           }

           img.right { float: right; margin: 0.5em 0 1em 1em; border: 1px solid #999; clear: right; }
           img.left { float: left; margin: 0.5em 1em 1em 0; border: 1px solid #999; clear: left; }

           
        
      /* horizontal menu styles */
.menu { 
  display: flex; 
  flex-direction: row; 
  list-style: none; 
  margin: 0; 
  padding: 0; 
  background-color: rgb(255, 106, 0);
  color: white;
        
} 

.menu-item { 
  flex: 1; 
  text-align: center;
  color: white;
} 

/* vertical menu styles */
@media (max-width: 600px) { 
  .menu { 
     flex-direction: column; 
  } 
  .menu-item { 
     flex: none; 
     width: 100%; 
     margin-top: 8px;
     margin-bottom: 10px;
     
     
  } 

  .column2
  {
    margin-top: -20px;
    padding-left: 5px;
  }


.column3
{
  
  padding-left: 5px;
  padding-right: 5px;

} 
}
      
     